.eco-inline {
  display: flex;
  align-items: center;
  justify-content: center;
}

.eco-list {
  @extend .eco-inline;
  list-style: none;
  padding: 0;
}

.eco-unlink {
  color: black;
  text-decoration: none;
}

.eco-icon {
  cursor: pointer;
  transition: transform 0.15s ease-in-out;

  &:hover {
    transform: translateY(3px);
  }
}
