// COLORS
$color-black: #000;
$color-black-lite: rgba(
  $color: #000,
  $alpha: 0.41
);
$color-grey: #393d46;
$color-grey-lite: #68768e;
$color-white: #f6f7fb;
$color-white-lite: rgba(
  $color: $color-white,
  $alpha: 0.6
);

// SIZES
$height-header: 80px;
$height-navbar: $height-header / 2;
