// COLORS
$color-black: #000;
$color-black-lite: rgba(
  $color: #000,
  $alpha: 0.41
);
$color-grey: #393d46;
$color-white: #f6f7fb;

// SIZES
$height-header: 80px;
$height-navbar: $height-header / 2;
