.buy-add {
  $padding-side: 35px;

  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;

  .buy {
    width: 60%;
    height: 100%;
    padding: 10px 20px;

    span {
      text-transform: capitalize;
    }
  }

  .add {
    width: 40%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 20px;

    svg {
      cursor: pointer;
    }
  }
}
