$height-icon-pay: 40px;
$size-icon-net: 22px;

footer {
  box-sizing: border-box;
  width: 100%;
  height: 280px;
  padding: 0 50px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 80px;

  section {
    width: 33%;
  }

  .copy {
    a {
      color: $color-grey;
      font-weight: 700;
    }
  }

  .networks {
    height: $height-icon-pay;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;

    .network {
      padding: 4px;

      svg {
        width: $size-icon-net;
        height: 100%;
        font-size: $size-icon-net;
      }
    }
  }

  .payments {
    height: $height-icon-pay;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;

    svg {
      height: 100%;
      font-size: 40px;
      color: #8e97a8;
    }
  }
}
