.home {
  padding-bottom: 100px;
  background: $color-white;

  section {
    width: 100%;
    padding: $space-general;
  }

  section.banner {
    height: calc(100vh - #{$height-header});

    .container {
      width: 100%;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: space-between;

      background: #fff;

      .content {
        width: 50%;
        height: max-content;
        margin: 0 0 0 6.25rem;

        h1 {
          margin-top: 0;
          margin-bottom: 1.25rem;
          font-size: 5rem;
          font-weight: 500;
          color: $color-grey;
        }

        p {
          margin: 0;
          margin-bottom: 2.5rem;
          color: $color-grey-lite;
          font-size: 1.25rem;
          line-height: 1.875rem;
        }

        .data-container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          column-gap: 40px;
          margin-bottom: 40px;

          .data {
            width: 12.5rem;

            h3 {
              color: $color-grey-lite;
            }

            span {
              color: $color-grey;
              font-size: 30px;
              font-weight: 600;
            }

            .color {
              display: flex;
              justify-content: space-between;
              align-items: center;

              .arc {
                cursor: pointer;
                width: 40px;
                height: 40px;
                display: inline-block;
                position: relative;
                border-radius: 50%;

                & > div {
                  width: 26px;
                  height: 26px;
                  margin: auto;

                  position: absolute;
                  top: 0;
                  bottom: 0;
                  left: 0;
                  right: 0;

                  border-radius: 50%;
                }
              }
            }

            .size {
              display: flex;
              justify-content: space-between;
              align-items: center;

              span {
                cursor: pointer;
                width: 35px;

                text-align: center;
                color: $color-grey-lite;
                font-size: 1.5625rem;
                letter-spacing: 2px;
                user-select: none;

                &.active {
                  color: $color-grey;
                  font-weight: 600;
                }
              }
            }
          }
        }
      }

      .image {
        width: 50%;
        height: 100%;

        position: relative;
        left: 30px;

        background-image: url('/static/img/banner-main.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom right;
      }
    }
  }

  section.products {
    .card-container {
      $with-card: 320px;

      width: 100%;

      display: grid;
      grid-template-rows: auto;
      grid-template-columns: repeat(auto-fill, $with-card);
      gap: 20px;
      align-content: center;
      justify-items: center;
      justify-content: space-between;

      .card {
        width: $with-card;
        height: 410px;
        position: relative;

        img {
          width: 100%;
          height: 100%;
        }

        .overcard {
          width: 100%;
          height: 100%;
          padding: 45px 30px;

          position: absolute;
          top: 0;
          left: 0;

          color: $color-white;
          background: rgba($color: #4a4e56, $alpha: 0.9);

          opacity: 0;
          transition: opacity 0.3s ease-in-out;

          p {
            margin-top: 0;
          }

          .title {
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 18px;
          }

          .star {
            font-size: 18px;
            font-weight: 400;

            svg {
              font-size: 20px;
              margin-right: 10px;
              color: $color-white;
            }
          }

          .buy {
            position: absolute;
            bottom: 45px;
            left: 30px;
            right: 30px;

            p {
              padding-left: 10px;
              font-size: 20px;
              font-weight: 500;

              span {
                margin-right: 5px;
                color: $color-white-lite;
                text-decoration: line-through;
              }
            }
          }
        }

        &:hover .overcard {
          opacity: 1;
        }
      }

      .product-title {
        background: $color-black;

        h2 {
          margin: auto;
          color: $color-white;
          text-align: center;
          font-size: 50px;
          font-weight: 600;
          line-height: 410px;
        }
      }
    }
  }

  section.purchase {
    .step-container {
      padding: 8.75rem;
      padding-bottom: 0;
      position: relative;

      background: $color-grey;

      h2 {
        margin: 0;
        margin-bottom: 70px;
        color: $color-white;
        font-size: 40px;
        font-weight: 500;
      }

      .steps {
        display: flex;
        align-items: center;
        column-gap: 30px;
        justify-content: space-between;

        .card-step {
          @include card-shadow();

          padding: 30px 40px;

          display: flex;
          flex-direction: column;
          justify-content: space-between;

          background: white;
          z-index: 1;

          svg,
          p {
            margin-bottom: 0.875rem;
          }

          svg {
            width: 3.75rem;
            height: auto;
            font-size: 40px;
          }

          p {
            margin-top: 0;
            font-size: 1.25rem;
            line-height: 1.875rem;
            color: $color-grey-lite;
          }

          a {
            width: max-content;
            color: $color-grey;
            font-weight: 600;
            text-decoration: none;
            text-transform: capitalize;
          }
        }
      }

      &::after {
        content: '';
        width: 100%;
        height: 25%;

        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;

        background: $color-white;
        z-index: 0;
      }
    }
  }

  section.brands {
    padding: $space-general 0;

    .card-container {
      margin: 0 $space-general;
      position: relative;

      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 40px;

      .card {
        @include card-shadow;

        height: 100%;
        width: 50%;
        padding: 20px;
        padding-left: 40px;
        position: relative;

        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 30px;

        background: #fff;
        transition: all 0.25s ease-out;

        &:hover {
          @include card-shadow(10px);
          transform: scale(0.98);
        }

        .title {
          position: absolute;
          top: 20px;
          left: 40px;

          font-size: 1.5625rem;
          margin-bottom: 50px;
        }

        .content {
          width: 60%;

          h2 {
            font-size: 1.875rem;
            text-transform: uppercase;
          }

          p {
            font-size: 1.25rem;
            line-height: 1.875rem;
            margin-bottom: 2.5rem;
          }

          button {
            width: 60%;
            height: 60px;
          }
        }

        .image {
          width: 40%;
          height: 25.625rem;
          background-image: url('/static/img/product-3.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }

    // TODO: crear animacion de carusel para los logos
    .carousel {
      $margin-top: 100px;

      width: 100%;
      padding: 150px 0;
      margin: 0 auto;
      margin-top: -$margin-top;

      background: #fff;

      .logos-container {
        position: relative;
        padding: 0 $space-general;
        margin-top: $margin-top;

        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
          width: auto;
          height: 4.375rem;
        }
      }
    }
  }
}
