.home {
  padding-bottom: 100px;
  background: $color-white;

  .banner {
    height: calc(100vh - #{$height-header});
  }

  .eco-container {
    padding: 0 80px;
    position: relative;
    background: $color-black-lite;

    h2 {
      margin: 0;
      padding: 100px 20px 50px 20px;
      text-align: left;
      font-size: 40px;
    }

    .steps {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .card-step {
        height: 280px;
        margin: 0 15px;
        background: white;
        z-index: 1;
      }
    }

    &::before {
      content: '';
      width: 100%;
      height: 25%;

      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;

      background: $color-white;
      z-index: 0;
    }
  }
}
